<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>uploadServlet</servlet-name>
        <servlet-class>com.sloca.servlet.uploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bootstrapServlet</servlet-name>
        <servlet-class>com.sloca.servlet.bootstrapServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDemoServlet</servlet-name>
        <servlet-class>com.sloca.servlet.ViewDemoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDemoGraphServlet</servlet-name>
        <servlet-class>com.sloca.servlet.ViewDemoGraphServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>basicViewTopKPlaces</servlet-name>
        <servlet-class>com.sloca.servlet.basicViewTopKPlaces</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewHeatMapServlet</servlet-name>
        <servlet-class>com.sloca.servlet.ViewHeatMapServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToggleHeatMapServlet</servlet-name>
        <servlet-class>com.sloca.servlet.ToggleHeatMapServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewTopkNextPlacesServlet</servlet-name>
        <servlet-class>com.sloca.servlet.ViewTopkNextPlacesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewTopkCompanionServlet</servlet-name>
        <servlet-class>com.sloca.servlet.ViewTopCompanionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GroupTopKPopularPlacesServlet</servlet-name>
        <servlet-class>com.sloca.servlet.GroupTopKPopularPlacesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>uploadServlet</servlet-name>
        <url-pattern>/uploadServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bootstrapServlet</servlet-name>
        <url-pattern>/bootstrapServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDemoServlet</servlet-name>
        <url-pattern>/ViewDemo.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>basicViewTopKPlaces</servlet-name>
        <url-pattern>/basicViewTopKPlaces.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDemoGraphServlet</servlet-name>
        <url-pattern>/ViewDemoGraph.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToggleHeatMapServlet</servlet-name>
        <url-pattern>/toggleHeatMap.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewHeatMapServlet</servlet-name>
        <url-pattern>/ViewHeatMap.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewTopkNextPlacesServlet</servlet-name>
        <url-pattern>/ViewTopkNextPlaces.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewTopkCompanionServlet</servlet-name>
        <url-pattern>/ViewTopCompanionServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GroupTopKPopularPlacesServlet</servlet-name>
        <url-pattern>/GroupTopKPopularPlacesServlet.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>    
    <resource-ref>
        <res-ref-name>jdbc/sloca_db</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>

=======
&gt;&gt;&gt;&gt;&gt;&gt;&gt; .r118
    </web-app>
